In [1]:
import pandas as pd

In [2]:
a50_option = pd.read_excel('/Users/50ETF期权合约基本资料.xlsx', parse_dates=True)

In [3]:
data2017 = pd.read_excel('/Users/50ETF期权日行情2017-2018.xlsx', parse_dates=True)

In [4]:
data2017.rename(columns = {'开盘价':'open'} , inplace = True)

根据2017-2018年 在交易的期权code合并基本信息

In [5]:
datas = pd.merge(data2017, a50_option, on = 'code' , how='left')

In [6]:
data2018 = pd.read_excel('/Users/O510050lx20180924至20201231——带调整价格A的.xlsx' , parse_dates=True)

In [7]:
data2018.rename(columns = {'合约编码':'code' , '报价时间': 'date' , '距离到期日天数': 'T_days' , '到期日':'expire' , '期权类型':'type' , '收盘价':'settle' ,'开盘价':'open', '执行价':'strike'},inplace = True)

In [8]:
datas = datas.loc[:,['date' , 'code' , 'expire' , 'type' , 'strike' , 'settle' , 'open' , 'Delta' , 'Gamma' , 'Vega' , 'Theta' , 'Rho']]

In [9]:
datas

,date,code,expire,type,strike,settle,open,Delta,Gamma,Vega,Theta,Rho
0,2017-01-03,10000671,2017-03-22,C,2.055,0.2564,0.2400,1.000,0.000,0.000,-0.060,0.442
1,2017-01-03,10000672,2017-03-22,C,2.104,0.2115,0.2009,1.000,0.000,0.000,-0.061,0.453
2,2017-01-03,10000673,2017-03-22,C,2.153,0.1703,0.1623,0.945,1.005,0.119,-0.087,0.436
3,2017-01-03,10000674,2017-03-22,C,2.202,0.1332,0.1262,0.817,1.898,0.284,-0.136,0.380
4,2017-01-03,10000675,2017-03-22,C,2.250,0.1017,0.0929,0.695,2.313,0.376,-0.166,0.325
...,...,...,...,...,...,...,...,...,...,...,...,...
47343,2018-09-21,10001460,2018-10-24,P,2.700,0.0993,0.1591,-0.637,2.366,0.297,-0.277,-0.160
47344,2018-09-21,10001461,2018-10-24,C,2.750,0.0205,0.0051,0.239,2.108,0.246,-0.270,0.055
47345,2018-09-21,10001462,2018-10-24,P,2.750,0.1358,0.2057,-0.739,2.010,0.257,-0.230,-0.188
47346,2018-09-21,10001463,2018-10-24,C,2.250,0.3844,0.3037,1.000,0.000,0.000,-0.066,0.203
47347,2018-09-21,10001464,2018-10-24,P,2.250,0.0011,0.0015,-0.015,0.195,0.031,-0.041,-0.004

In [10]:
data2018 = data2018.loc[:,['date' , 'code' , 'expire' , 'type' , 'strike' , 'settle' , 'open' , 'Delta' , 'Gamma' , 'Vega' , 'Theta' , 'Rho']]

In [11]:
data2018

,date,code,expire,type,strike,settle,open,Delta,Gamma,Vega,Theta,Rho
0,2018-09-25,10001211,2018-09-26,C,2.90,0.0001,0.0002,0.0032,0.0943,0.0000,-0.0005,0.0000
1,2018-09-26,10001211,2018-09-26,C,2.90,0.0001,0.0001,NaN,NaN,NaN,NaN,NaN
2,2018-09-25,10001212,2018-09-26,C,2.95,0.0001,0.0001,0.0029,0.0744,0.0000,-0.0005,0.0000
3,2018-09-26,10001212,2018-09-26,C,2.95,0.0001,0.0001,NaN,NaN,NaN,NaN,NaN
4,2018-09-25,10001213,2018-09-26,C,3.00,0.0001,0.0002,0.0026,0.0606,0.0000,-0.0005,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...
79260,2020-12-29,10003062,2021-02-24,P,3.90,0.3849,0.3680,-0.8809,0.6927,0.0028,-0.0002,-0.0054
79261,2020-12-30,10003062,2021-02-24,P,3.90,0.3482,0.3849,-0.7049,0.7902,0.0048,-0.0005,-0.0044
79262,2020-12-31,10003062,2021-02-24,P,3.90,0.2901,0.3268,-0.7623,0.9771,0.0044,-0.0006,-0.0046
79263,2020-12-31,10003083,2021-02-24,C,4.00,0.0211,0.0113,0.1428,0.7543,0.0032,-0.0007,0.0008
79264,2020-12-31,10003084,2021-02-24,P,4.00,0.3791,0.4136,-0.8212,0.7619,0.0037,-0.0005,-0.0051

In [12]:
options = pd.concat([datas , data2018])

In [13]:
bs_iv = pd.read_excel('/Users/50ETF-BS隐含波动率.xlsx' , parse_dates = True)

In [14]:
bs_iv = bs_iv.loc[:,['date' , 'BS_IV']]

In [15]:
options = pd.merge(options , bs_iv , on = ['date'] , how = 'left')

In [16]:
ivix = pd.read_excel('/Users/无模型隐含波动率.xlsx' , parse_dates = True)

In [17]:
options = pd.merge(options , ivix , on = ['date'] , how = 'left')

In [18]:
for i in range(len(options)):
    if pd.isnull(options.loc[i , 'ivix']):
        options.drop(index = [i] , inplace = True)

In [19]:
garch_volatility = pd.read_excel('/Users/garch波动率30日平均.xlsx', parse_dates=True)

In [20]:
options = pd.merge(options , garch_volatility , on = ['date'] , how = 'left')

In [21]:
options.rename(columns = {'close':'a50etf_price'} , inplace = True)

In [22]:
options.sort_values(by='date' , ascending = True)

,date,code,expire,type,strike,settle,open,Delta,Gamma,Vega,Theta,Rho,BS_IV,ivix,garch_volatility
0,2017-01-03,10000671,2017-03-22,C,2.055,0.2564,0.2400,1.0000,0.0000,0.0000,-0.0600,0.4420,0.150294,16.004972,0.493903
77,2017-01-03,10000806,2017-06-28,P,2.500,0.2340,0.2461,-0.6440,1.0850,0.6010,-0.0810,-0.8410,0.150294,16.004972,0.493903
76,2017-01-03,10000805,2017-06-28,P,2.450,0.1999,0.2112,-0.5930,1.1370,0.6260,-0.0900,-0.7670,0.150294,16.004972,0.493903
75,2017-01-03,10000804,2017-06-28,P,2.400,0.1650,0.1822,-0.5420,1.2000,0.6400,-0.0930,-0.6910,0.150294,16.004972,0.493903
74,2017-01-03,10000803,2017-06-28,P,2.350,0.1336,0.1468,-0.4840,1.2370,0.6430,-0.0950,-0.6110,0.150294,16.004972,0.493903
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118785,2020-11-16,10002733,2021-03-24,C,3.700,0.0678,0.0673,0.3011,0.9287,0.0071,-0.0006,0.0034,0.174959,21.216862,2.152944
118708,2020-11-16,10002732,2021-03-24,C,3.600,0.0900,0.0917,0.3847,1.0799,0.0078,-0.0007,0.0043,0.174959,21.216862,2.152944
121348,2020-11-16,10002872,2021-06-23,P,3.400,0.2256,0.2260,-0.4009,0.5538,0.0103,-0.0005,-0.0096,0.174959,21.216862,2.152944
119093,2020-11-16,10002737,2021-03-24,P,3.200,0.0786,0.0805,-0.2549,0.6716,0.0065,-0.0005,-0.0033,0.174959,21.216862,2.152944
121452,2020-11-16,10002912,2021-06-23,P,3.900,0.5778,0.5820,-0.6241,0.4539,0.0101,-0.0005,-0.0163,0.174959,21.216862,2.152944

In [23]:
a50etf = pd.read_excel('/Users/a50etf已处理数据.xlsx', parse_dates=True)

In [24]:
a50etf = a50etf.loc[:,['date' , 'open', 'close']]

In [25]:
a50etf.rename(columns = {'close':'a50_close' , 'open':'a50_open'} , inplace = True)

In [26]:
options = pd.merge(options , a50etf , on = ['date'] , how = 'left')

In [27]:
options['ivix'] = options['ivix']/100

In [28]:
options['vix/gv'] = options['ivix'] / options['garch_volatility']

In [29]:
options['bs/gv'] = options['BS_IV'] / options['garch_volatility']

In [30]:
options.set_index(['date'])

,code,expire,type,strike,settle,open,Delta,Gamma,Vega,Theta,Rho,BS_IV,ivix,garch_volatility,a50_open,a50_close,vix/gv,bs/gv
date,,,,,,,,,,,,,,,,,,
2017-01-03,10000671,2017-03-22,C,2.055,0.2564,0.2400,1.0000,0.0000,0.0000,-0.0600,0.4420,0.150294,0.160050,0.493903,2.285,2.307,0.324051,0.304299
2017-01-03,10000672,2017-03-22,C,2.104,0.2115,0.2009,1.0000,0.0000,0.0000,-0.0610,0.4530,0.150294,0.160050,0.493903,2.285,2.307,0.324051,0.304299
2017-01-03,10000673,2017-03-22,C,2.153,0.1703,0.1623,0.9450,1.0050,0.1190,-0.0870,0.4360,0.150294,0.160050,0.493903,2.285,2.307,0.324051,0.304299
2017-01-03,10000674,2017-03-22,C,2.202,0.1332,0.1262,0.8170,1.8980,0.2840,-0.1360,0.3800,0.150294,0.160050,0.493903,2.285,2.307,0.324051,0.304299
2017-01-03,10000675,2017-03-22,C,2.250,0.1017,0.0929,0.6950,2.3130,0.3760,-0.1660,0.3250,0.150294,0.160050,0.493903,2.285,2.307,0.324051,0.304299
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-11-10,10002912,2021-06-23,P,3.900,0.5527,0.5405,-0.5994,0.4498,0.0105,-0.0004,-0.0162,0.195453,0.229688,2.369656,3.491,3.466,0.096929,0.082482
2020-11-11,10002912,2021-06-23,P,3.900,0.5453,0.5468,-0.6056,0.4603,0.0104,-0.0004,-0.0162,0.191240,0.224143,2.366107,3.462,3.464,0.094731,0.080825
2020-11-12,10002912,2021-06-23,P,3.900,0.5613,0.5473,-0.6168,0.4589,0.0103,-0.0004,-0.0164,0.185568,0.219729,2.374272,3.465,3.447,0.092546,0.078158
2020-11-13,10002912,2021-06-23,P,3.900,0.5943,0.5941,-0.6499,0.4628,0.0098,-0.0004,-0.0170,0.179874,0.212383,2.720866,3.431,3.388,0.078057,0.066109
2020-11-16,10002912,2021-06-23,P,3.900,0.5778,0.5820,-0.6241,0.4539,0.0101,-0.0005,-0.0163,0.174959,0.212169,2.152944,3.410,3.429,0.098548,0.081265

In [31]:
options.to_excel('/Users/回测数据_有开盘价.xlsx')